body {
	background: #222;
	font: 12px/1.7em arial, sans-serif;
	
}

#cont-nav { 
	width: 800px; 
	height:400px; 
	background: white; 
	margin: 7% auto 0;
	border: 1px solid #CCC;
	
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	behavior: url(PIE.htc);
}
.radius{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	behavior: url(PIE.htc);
}
#cont-nav h1{
	margin-left: 10px;
	margin-top: 15px;
	font-size: 20px;
	text-decoration: underline;
	
}
#cont-nav p {
	margin-left: 15px;
	color: #555;
}
#max-browser{
	margin-top:40px;
	margin-left:40px;
}
.cont-browser{
	height: 120px;
	width: 122px;
	background: transparent url('../img/background_browser.gif') no-repeat;
	float: left;
	margin-left: 15px;
	text-align: center;
	font-size: 11px;
}
.cont-browser a {
	text-decoration: none;
	color: #555;
	display: block;
}
.cont-browser span{
	top: -5px;
	position: relative;
}
