.cke_contents{
	height: 450px !important;
	font: normal normal normal 100% Sans-Serif;
}
/*.cke_skin_kama, .cke_browser_webkit, .cke_wrapper, .cke_editor, .cke_contents, .cke_contents iframe {
	height:450px !important;
}*/